body {
	padding: 0;
	margin: 0;

	min-height: 100vh;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
}

header {

	background: #222222;

	h1 {
		color: #9D9D9D;
		font-family: inherit;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		padding: 15px;
	}
}

#presentation {

	p {
		max-width: 42em;
		margin: auto;
		padding: .5em 1em;
	}

	
}

#select-pad-type {
	
	background: #449d44;
	padding: 2em;
	min-height: 28vh;

	display: flex;
	align-items: center;
	justify-content: center;

	ul {
		list-style-type: none;

		li {
			text-align: center;
			padding: .5em;
		}
	}

	li.monthly, li.yearly {
		font-size: 2em;
	}

	li.yearly {
		font-size: 1.8em;
	}

	li.archives {
		font-size: 1em;
		color: grey;
	}

	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		font-weight: bold;
	}
}

footer {
	color: #9D9D9D;
	background: #222222;
	line-height: 20px;
	padding: 15px;
	width: 100%;
	text-align: center;
}