body {
	padding: 0;
	margin: 0;

	min-height: 100vh;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;

	color: #222222;
}

header {

	background: #222222;

	h1 {
		color: #9D9D9D;
		font-family: inherit;
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		padding: 15px;
	}
}

#presentation {

	p {
		max-width: 42em;
		margin: auto;
		padding: .5em 1em;
	}

	
}

#select-pad-type {
	
	background: #449d44;
	padding: 2em;
	min-height: 28vh;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;

	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		font-weight: bold;
	}

	td {
		font-size: 1.5em;
		padding: 0.5em;
	}

	td.archives {
		text-align: center;
		font-size: 1em;
		padding-top: 2em;
	}

	form {

		input[type="text"] {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			box-sizing: border-box;
			line-height: 36px;
			outline: none;
			border: none;
			height: 38px;
			color: #222222;

		}

		button[type="submit"] {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border: none;
			height: 40px;
			top: 0;
			color: #449d44;
			background: #222222;
			font-weight: bold;
		}

	}
}

#quatre104 {
	
	background: #449d44;
	color: white;
	padding: 2em;
	min-height: 28vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	h1 {
		font-size: 5em;
		font-weight: bolder;
		padding: .2em;
	}

	p {
		font-weight: 1.2em;
	}

	a {
		color: #222222;
	}
}


footer {
	color: #9D9D9D;
	background: #222222;
	line-height: 20px;
	padding: 15px;
	text-align: center;
}